[alias]
	tree = log --graph --all --decorate --pretty=oneline --abbrev-commit
	undo = reset HEAD^
[core]
	editor = nvim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[user]
	name = Iago Leal
	email = iago@psr-inc.com
[init]
	defaultBranch = master
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
