!!! urxvt configurations
URxvt.scrollBar: false

!Fonts
URxvt.font: xft:Source Code Pro:style=Semibold:size=11:antialias=true:hinting=false,xft:Source Han Sans:style=Semibold:size=20:antialias=true:hinting=false,xft:Material Design Icons:style=Regular:size=10
!URxvt.letterSpace: -1
!URxvt.font: xft:Hack:style=Regular:size=11:antialias=true:hinting=false

! Nice font options: Hack, Source Code Pro, Fantasque, Inconsolata


!! Xterm config
XTerm*termName: xterm-256color
XTerm*faceName: xft:Source Code Pro:style=Semibold:antialias=true:hinting=false
XTerm*faceSize: 11
XTerm*renderFont: true
XTerm*locale: true
! allows alt+key to be used for commands
XTerm*metaSendsEscape:  true


/* *.foreground:   #c5c8c6 */
/* /1* *.background:   #212121 *1/ */
/* *.background:   #111111 */
/* *.cursorColor:  #c5c8c6 */
/* ! black */
/* *.color0:       #212121 */
/* *.color8:       #373b41 */
/* ! red */
/* *.color1:       #cc6666 */
/* *.color9:       #de935f */
/* ! green */
/* *.color2:       #638f63 */
/* *.color10:      #8fcc85 */
/* ! yellow */
/* *.color3:       #8f7942 */
/* *.color11:      #f0c674 */
/* ! blue */
/* *.color4:       #59798f */
/* *.color12:      #8fadcc */
/* ! magenta */
/* *.color5:       #85678f */
/* *.color13:      #b294bb */
/* ! cyan */
/* *.color6:       #5e8d87 */
/* *.color14:      #8abeb7 */
/* ! white */
/* *.color7:       #707880 */
/* *.color15:      #c5c8c6 */

/* !!! Terminal Colors */
/* ! colors */
/* *.background:   #000000 */
/* *.foreground:   #ebdbb2 */
/* *.cursorColor:  #ebdbb2 */
/* ! */
/* !! black */
/* *.color0:       #282828 */
/* *.color8:       #928374 */
/* ! red */
/* *.color1:       #cc241d */
/* *.color9:       #fb4934 */
/* ! green */
/* *.color2:       #98971a */
/* *.color10:      #b8bb26 */
/* ! yellow */
/* *.color3:       #d79921 */
/* *.color11:      #fabd2f */
/* ! blue */
/* *.color4:       #458588 */
/* *.color12:      #83a598 */
/* ! magenta */
/* *.color5:       #b16286 */
/* *.color13:      #d3869b */
/* ! cyan */
/* *.color6:       #689d6a */
/* *.color14:      #8ec07c */
/* ! white */
/* *.color7:       #a89984 */
/* *.color15:      #ebdbb2 */

! ----------------------------
! Contrasty Darkness
! Version: 2018-01-04
! https://www.markusweimar.de/
! ----------------------------

/* *background: black */
/* *foreground: white */
/* ! black */
/* *color0:  #000000 */
/* *color8:  #000000 */
/* ! red */
/* *color1:  #ff7c4d */
/* *color9:  #ff7c4d */
/* ! green */
/* *color2:  #22ff00 */
/* *color10: #22ff00 */
/* ! yellow */
/* *color3:  #ffcc00 */
/* *color11: #ffcc00 */
/* ! blue */
/* *color4:  #1a66ff */
/* *color12: #1a66ff */
/* ! magenta */
/* *color5:  #ff61df */
/* *color13: #ff61df */
/* ! cyan */
/* *color6:  #00ffff */
/* *color14: #00ffff */
/* ! white */
/* *color7:  #888888 */
/* *color15: #ffffff */

*background: #000000
*foreground: #ffffea
! black
*color0:  #000000
*color8:  #3c4142
! red
*color1:  #e50000
*color9:  #fe0002
! green
*color2:  #40fd14
*color10: #2fef10
! yellow
*color3:  #dbb40c
*color11: #fff917
! blue
*color4:  #247afd
*color12: #7bc8f6
! magenta
*color5:  #f504c9
*color13: #db4bda
! cyan
*color6:  #41fdfe
*color14: #00ffff
! white
*color7:  #ffffea
*color15: #ffffff

