# Emulate zathura commands
zoom_in  =

fit_to_page_height   a
fit_to_page_width    s

close_window q

next_page      <pagedown>
previous_page  <pageup>

move_left l
move_right h

add_highlight H

# Toggle dark mode (inverted colors)
toggle_dark_mode <C-r>

# Jump list like vim
next_state <C-i>
prev_state <C-o>
# Or with mouse
next_state XF86Forward
prev_state XF86Back

# Copy selected text
copy y
