### UI ###

## Name of the font to use for UI text
ui_font Noto Sans
## Size of the UI font
font_size 20
## Font size of the status bar text
status_bar_font_size 20

ui_text_color       0.875 0.839 0.761
ui_background_color 0.184 0.220 0.243
ui_selected_background_color 0.65234375 0.74609375 0.49609375

dark_mode_background_color    0.184 0.220 0.243

page_separator_width 2
page_separator_color 0.8 0.8 0.8

### Behaviour ###

# Use case-insensitive search
case_sensitive_search 0
